body{
    margin: 0;
    font: 16px/23px Montserrat;
    color: #032624;
}

h1{
    font: bold 32px/41px Montserrat;
    color: #0EAFAC;
}

h2{
    font: 600 16px/23px Montserrat;
}

.divs-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.botao:hover{
    cursor: pointer;
}

.botao:active{
    background-color: #ffce49;
    border: 1px solid #ffce49;
}

/* cabeçalho */

.cabecalho{
    background: #F6F6F7;
    width: 100%;
    height: 5em;
    color: #1C1C1D;
    flex-wrap: nowrap;
}

.gx2-logo{
    width: 8em;
}

.lista-de-links-div li{
    display: inline-block;
    list-style: none;
    margin: 0.5em 1em;
    font-size: 18px;
}

.lista-de-links-div a{
    color: #1C1C1D;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border 0.3s linear;
}

.lista-de-links-div a:hover{
    border-color: #1C1C1D;
}

.contato-div{
    background-color: #10DFC2;
    color: #FBFBFB;
    border-radius: 15px;
    padding: 0.5em 4em;
    outline: 2px solid #10DFC2;
    transition: all 0.2s linear;
}

.contato-div:hover{
    background-color: #FBFBFB;
    color: #10DFC2;
}

@media screen and (max-width: 899px){

    .lista-de-links-div li{
        margin: 0.5em 0.5em;
    }
}

@media screen and (max-width: 789px){

    .cabecalho{
        height: 10em;
    }

    .lista-de-links-div li{
        display: list-item;
        margin-top: 0.2em;
    }
}

/* conteúdo principal parte 1 */

.principal-1{
    width: 100%;
    height: 31.5em;
    background-image: url(../imagens/Background@2x.png);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: left;
}

.principal-1-textos-div{
    width: 400px;
    height: 300px;
    margin-left: 7%;
}

.gx2-logo-branco{
    width: 4em;
}

.principal-1-texto{
    margin: 0;
    margin-top: 3%;
}

.principal-1-texto-1{
    font: bold 40px/52px Montserrat;
}

.principal-1-texto-2{
    font: 18px/31px Montserrat;
}

.principal-1-logos{
    width: 350px;
    height: 300px;
    margin-right: 7%;
    text-align: center;
}

.logo-rocket-talents{
    margin-top: 3em;
}

@media screen and (max-width: 890px){

    .principal-1-textos-div{
        margin-left: 0;
    }

    .principal-1-logos{
        margin-right: 0;
    }
}

@media screen and (max-width: 766px){

    .principal-1{
        height: 50em;
    }
}

/* conteúdo principal parte 2 */

.principal-2{
    height: 28em;
}

.principal-2 h1{
    color: #032624;
}

.principal-2 h3{
    font: 600 16px/23px Montserrat;
    color: #0EAFAC;
}

.principal-2-textos-div{
    width: 460px;
    margin-left: 10%;
}

.imagem-1{
    width: 250px;
    margin-right: 10%;
}

@media screen and (max-width: 904px){

    .principal-2-textos-div{
        margin-left: 0;
    }

    .imagem-1{
        margin-right: 0;
    }
}

@media screen and (max-width: 726px){

    .principal-2{
        height: 50em;
    }

    .imagem-1{
        margin-bottom: 3em;
    }
}

/* conteúdo principal parte 3 */

.principal-3{
    background: #F6F6F6;
    height: 31.5em;
}

.principal-3-textos-div{
    text-align: center;
    width: 530px;
    height: 140px;
    padding: 0 30%;
}

.cartoes-div{
    gap: 2em;
    padding-bottom: 2em;
}

.cartoes{
    width: 260px;
    height: 250px;
    padding: 1em;
    text-align: left;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 5px;
    background-color: white;
}

@media screen and (max-width: 1333px){

    .principal-3-textos-div{
        padding: 0 20%;
    }
}

@media screen and (max-width: 1280px){

    .principal-3{
        height: 52em;
    }

    .cartoes-div{
        padding: 2em 0;
    }
}

@media screen and (max-width: 893px){

    .principal-3-textos-div{
        padding: 0;
    }
}

@media screen and (max-width: 632px){

    .principal-3{
        height: 90em;
    }
}

@media screen and (max-width: 543px){

    .principal-3-textos-div p{
        font-size: 14px;
    }
}

/* conteúdo principal parte 4 */

.imagem-2{
    margin: 0 0 0 10%;
}

.principal-4-textos-div{
    margin: 0 10% 0 0;
    width: 510px;
}

.principal-4 h1{
    color: #0EAFAC;
}

@media screen and (max-width: 1069px){

    .principal-4-textos-div{
        margin: 0 0 0 5%;
    }

    .principal-4 .imagem-1{
        margin: 0 0 0 5%;
    }
}

@media screen and (max-width: 861px){

    .principal-4{
        height: 44em;
    }

    .principal-4-textos-div-2{
        width: 510px;
        padding: 0 30px 0 65px;
    }
}

@media screen and (max-width: 621px){

    .principal-4-textos-div-2{
        padding: 0 0 0 1.5em;
    }
}

/* conteúdo principal parte 5 */

.principal-5{
    width: 100%;
    height: 13.5em;
    background-color: #19DBD1;
    color: white;
}

.principal-5 h1{
    color: white;
}

.principal-5-textos{
    text-align: left;
    width: 490px;
    margin-left: 9em;
}

.principal-5-email{
    width: 300px;
    margin-right: 7em;
}

.principal-5-email input{
    width: 290px;
    border-radius: 10px;
    height: 2.2em;
    border: 1px solid white;
    margin-bottom: 1em;
    padding-left: 1em;
}

.botao{
    background-color: #FFB900;
    border: 1px solid #FFB900;
    font: 16px/23px Montserrat;
    color: #FFFFFF;
    border-radius: 10px;
    width: 100px;
    height: 2.2em;
}

@media screen and (max-width: 1062px){

    .principal-5{
        height: 16em;
    }

    .principal-5-textos{
        width: 80%;
        margin: 0;
    }

    .principal-5-email{
        width: 80%;
        margin: 0;
    }
    
    .principal-5-email button{
        margin-left: 0.5em;
    }
}

@media screen and (max-width: 541px){

    .principal-5-textos{
        width: 90%;
    }

    .principal-5-email{
        width: 90%;
    }

    .principal-5{
        height: 20em;
    }
}

@media screen and (max-width: 483px){

    .principal-5-email button{
        margin: 0;
    }
}

/* rodapé */

.rodape{
    height: 30em;
    color: white;
    font-weight: 100;
    background-color: #04254C;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 2em;
}

.rodape-gx2{
    width: 429px;
    padding-top: 1.3em;
}

.logo-gx2-rodape{
    width: 135px;
    margin-bottom: 1em;
}

.rodape-gx2 .botao{
    width: 180px;
    background-image: url(../imagens/Caminho\ 221.svg);
    background-repeat: no-repeat;
    background-position: 87%;
    padding-right: 2.5em;
}

.rodape-servicos h2{
    font-size: 26px;
    margin-bottom: 1.3em;
}

.enderecos-imagem{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 25px;
}

.rodape-enderecos{
    width: 410px;
    height: 380px;
    justify-content: space-between;
}

.localiza{
    width: 50px;
    height: 100%;
}

.enderecos{
    width: 320px;
    height: 100%;
}

@media screen and (max-width: 1190px){

    .rodape-servicos{
        margin: 0 5em;
    }
}

@media screen and (max-width: 1148px){

    .rodape{
        height: 50em;
    } 
}

@media screen and (max-width: 719px){

    .rodape{
        height: 75em;
    }
} 